#heroGrid {
    font-size: 60px;
    color: #1d1a19;
    text-align: center;
    justify-content: center;

    }

h1 {
    text-align: center;
    border-style: 1px solid #FCBDA9;
    margin: 0px;
    justify-content: center;
}

.heroGridArea {
    justify-content: center;
    float: center;
    margin: 75px;
    justify-items: center;

}


body {
    background-image: url(../UX_UI_Homework_17/images/portfolio\ splash\ screen.png);
    background-repeat: no-repeat;
    background-size: 100vh;
}

ul {
    justify-content: flex-end;
    list-style: none;
    
    
    }


#navBar p {
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
    justify-content: flex-end;
    float: right;
    font-display: black;
    
}  

.navigation {
    display: inline-flex;
    float: right;
    
}

#footer {
    font-size: 30px;
    justify-content:end;
    margin-top: 25px;
    
}

.aboutMe {
    float: left bottom;
}





