body {
    background-image: url(../UX_UI_Homework_17/images/resume\ background.png);
    background-repeat: no-repeat;
    font-family: playfair;
    background-size: 100%;
}


h1 {
    text-align: center;
    outline-color: 1px #FCBDA9;
    font-size: 70px;
    padding-left: 95px;
   

}

h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 15%;
}

h3 {
    padding-top: 3%;
    font-size: 25px;
    color: rgba(163, 113, 155, 0.67);
}

h4{
font-size: 25px;
color: rgba(64, 203, 203, 0.54);

}

h5 {
    font-size: 25px;
    font-style: italic;
}

p {
    font-size: 25px;
}